.chess{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img{
        @media(max-width:1125px){
            width:550px;
        }
        @media(max-width:507px){
            width:300px;
            height: 100%;
        }
        height: 350px;
        width: 550px;
        display: inline-block;
        margin-right: 35px;
        margin-top: 37px;
    }
    p{
        color: brown;
        font-weight: 700;
        font-size: 30px;
    }
    .p{
        @media(max-width:1125px){
            width: 870px;
        }
        display: inline-block;
        width:550px;
        margin-left: 35px;
    }
    .line3{
        @media(max-width:1125px){
            display: none;
        }
        margin-top: 0;
        height: 370px;
        width: 3px;
        box-shadow: 0px 1px 7px 0px rgba(247, 63, 7, 0.64);
        -webkit-box-shadow: 0px 1px 7px 0px rgba(231, 77, 16, 0.64);
        -moz-box-shadow: 0px 1px 7px 0px rgba(226, 69, 7, 0.64);
            border-bottom: 3px solid rgb(233, 78, 17);
            border-radius: 20px;
        background-color: rgb(255, 81, 0);
        vertical-align: middle;
        margin-top: 23px;
    }
    span{
        color: red;
    }
}
.line4{
    width: 100%;
    height: 3px;
    
        box-shadow: 0px 1px 7px 0px rgba(247, 63, 7, 0.64);
        -webkit-box-shadow: 0px 1px 7px 0px rgba(231, 77, 16, 0.64);
        -moz-box-shadow: 0px 1px 7px 0px rgba(226, 69, 7, 0.64);
            border-radius: 20px;
        background-color: rgb(199, 93, 52);
       }
       textarea{
        @media(max-width:1125px){
            width: 100%;
        }
        @media(max-width:880px){
            height: 370px;
        width: 470px;
        display: flex;
        margin-left: 100px;
        }
        @media(max-width:590px){
        margin-left: 0;
        }
        @media(max-width:507px){
            width:330px ;
        }

        width: 750px;
        height: 350px;
        margin-top: 53px;
        margin-left: 63px;
        border: 2px;
        
        border: 2px solid #ccc;
        resize: none;
        font-size: 14px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        padding: 23px 23px;
        color:rgb(255, 255, 255);
        
    }
    textarea:hover{
        box-shadow: 0 2px 5px rgba(236, 16, 16, 0.863);
        background-color: rgb(236, 173, 91);
    }
    main{input{
        @media(max-width:1125px){
            
            margin-left: 93px;
        }
        @media(max-width:590px){
            margin-left: 3px;
            }
        @media(max-width:507px){
            width:330px;
        }
        height: 59px;
        width: 470px;
        background: white;
        border: 2px solid #ccc;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 700;
        padding: 23px 23px;
        color:rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }}
    
    
    main{
        input[type=submit]{
        @media(max-width:1125px){
           
            margin-left: 93px;
        }
        @media(max-width:590px){
            margin-left: 3px;
            }
            @media(max-width:507px){
                width:330px;
            }
        height: 59px;
        width: 470px;
        background: rgb(233, 104, 30);
        border: none;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 700;
        color: white;
        
    }}
    

    .about1{
        @media(max-width:507px){
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        display: inline-block;
        vertical-align: middle;
        margin-top: 67px;
        margin-left: 7px;
    }
    #Subject:hover{
        box-shadow: 0 2px 5px rgba(236, 16, 16, 0.863);
    }
    main{input:focus{
        box-shadow: 0 2px 5px rgba(236, 16, 16, 0.863);
        background-color: rgb(236, 173, 91);
    }}
    
    .description{
        display: inline-block;
        vertical-align: middle;
    
    }