@mixin image{
    width: 93px;
    height: 97px;
    border-radius: 50%;
    border: 10px;
    border-color: aqua;
    display: flex;
    justify-content: center;
    margin-left:73px;
}
@mixin theme{
    display: inline-block;
    margin-left: 130px;
    margin-top: 35px;

}
@mixin p{
    
color: rgb(255, 5, 5);
font-weight: 700;
font-size: 23px;
width: 255px;
display: flex;
flex-wrap: wrap;
    
}